
<a id="gotop" href="#">   
  <span>⬆︎TOP</span>
</a>

<script src="<%- url_for('./js/jquery.imagesloaded.min.js') %>"></script>
<!-- <script src="<%- url_for('./js/gallery.js') %>"></script> -->
<script src="<%- url_for('./js/bootstrap.min.js') %>"></script>
<script src="<%- url_for('./js/main.js') %>"></script>
<script src="<%- url_for('./js/search.js') %>"></script>

<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- url_for('./fancybox/jquery.fancybox.css') %>" media="screen" type="text/css">
<script src="<%- url_for('./fancybox/jquery.fancybox.pack.js') %>"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>
<% } %>

